body{
	margin: 0 auto;
}
.marela{
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: calc(50% + 520px);
}
.marela img{
	padding-left: 70px;
}
.marela ul{
	display: flex;
}
.marela li{
	list-style-type: none;
}
.marela a{
	color: #C4AAC1;
	text-decoration: none;
	margin-left: 40px;
	font-family: 'Cormorant Garamond';
	font-size: 24px;
}
.marela a:hover{
	border-bottom: 2px solid red;
	transition-duration: 0,5s;
}
.content{
	overflow-x: hidden;
	position: relative;
}
.content img{
	margin: 0 auto;
	margin-top: -4px;
}
.img-1{
	position: absolute;
	top: 72px;
	left: 130px;
}
.content-title{
	width: 425px;
	height: 450px;
	position: absolute;
	top: 182px;
	right: 70px;
	background-color: #B08EAD;
}
.content-title a {
	display: inline-block;
	font-family: 'Roboto';
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
	margin: 50px 0 0 40px;
}
.content-title a:hover{
	border-bottom: 3px solid white;
}
.content h1{
	font-family: 'Cormorant Garamond';
	font-size: 45px;
	color: #FFFFFF;
	padding-left: 40px;
}
.info{
	text-align: center;
	padding-bottom: 40px;
}
.info-text{
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 1.5px;
	color: #B99BB6;
}
.info-text-2{
	font-family: 'Cormorant Garamond';
	font-size: 26px;
	line-height: 38px;
	color: #5F4D5D;
}
.btn-1{
	width: 141px;
	height: 45px;
	border: 1px solid #B99BB6;
	border-radius: 30px;
	font-family: 'Roboto';
	font-size: 11px;
	line-height: 15px;
	letter-spacing: 1.5px;
	color: #B99BB6;
}
.btn-1:hover{
	border: 2px solid red;
	color: red;
	font-weight: bold;
	background-color: #B99BB6;
	transition-duration: 1s;
}
.menu{
	display: flex;
	justify-content: center;
}
.menu-item{
	width: 368px;
	height: 427px;
	background-color: #CEB3CB;
	margin: 0 37px;
}
.menu-item h2{
	font-family: 'Cormorant Garamond';
	font-size: 25px;
	line-height: 30px;
	color: #FFFFFF;
	margin-left: 23px;
}
.menu-item a{
	font-family: 'Cormorant Garamond';
	font-size: 17px;
	line-height: 30px;
	color: #FFFFFF;
	text-decoration: none;
	margin-left: 23px;
}
.info-card{
	width: 89%;
	display: flex;
	justify-content: center;
	border-bottom: 2px solid #D7B7D4;
	padding: 70px 0 40px 0;
	margin-left: 124px;
}
.info-card h2{
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 1.5px;
	color: #B99BB6;
}
.info-card p{
	font-family: 'Cormorant Garamond';
	font-size: 24px;
	line-height: 30px;
	color: #5F4D5D;
}
.info-card-item{
	margin: 50px 110px 0 0;
}
.text-1{
	margin-left: 93px;
}
.border{
	border-bottom: none;
}
.gallery{
	display: flex;
	justify-content: center;
	margin-bottom: 54px;
}
.gallery-item{
	margin: 0 23px;
	text-align: center;
}
.gallery-item h3{
	font-family: 'Cormorant Garamond';
	font-size: 24px;
	color: #5F4D5D;
}
.gallery-item p{
	font-family: 'Roboto';
	font-size: 16px;
	color: #B0B0B0;
}
.menu-footer{
	height: 235px;
	background-color: #D6BBD3;
	display: flex;
	justify-content: center;
}
.menu-footer-item{
	margin: 50px 100px;
	text-align: center;
	color: white;
}
.menu-footer-item a{
	padding: 40px 10px 15px 10px;
    border-radius: 50px;
    background-color: #BA9FB7;
    margin: 0 0 0 0;
}
.menu-footer-item p{
	font-family: 'Cormorant Garamond';
	font-size: 21px;
}
.end{
	height: 137px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #C9ADC6;
}
.end img{
	padding-left: 160px;
}
.end ul{
	display: flex;
}
.end li{
	list-style-type: none;
	margin: 0 30px;
}
.end a{
	font-family: 'Cormorant Garamond';
	font-size: 21px;
	color: #FFFFFF;
	text-decoration: none;
}
.end a:hover{
	color: darkred;
	font-weight: bold;
	transition-duration: 0.7s;
}